/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/


.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 61px;
  z-index: 4;
}

.header-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 15px;
  z-index: 1;
}

.header.active .header-top {
  position: fixed;
  background: hsl(206, 34%, 20%);
}

.header-top .container {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 0fr 1fr; /*colom logo ikeon dan input search */
  justify-items: flex-start;
  align-items: center;
}



.header-top .logo { margin-inline: auto; } /*browser akan mengatur margin secara otomatis*/

.header-top .logo img { max-width: 100px; }

.header-btn-group {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}

/* navbar responsif */
.search-btn,
.nav-open-btn {
  font-size: 30px;
  color: inherit;
}

.search-btn { font-size: 20px; }

.box {
  position: relative;
}

/*-----------------------------------*\
 * #INPUT SEARCH
\*-----------------------------------*/

.input {
  padding: 1px 6px 1px 6px;
  height: 50px;
  width: 80px;
  border-radius: 35px;
  background: none;
  border: 4px solid rgb(65, 176, 110);
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 15px;
  color: #FFF;
  outline: none;
  transition: .5s;
}


.box:hover input {
  width: 230px;
  background: #3b3640;
  border-radius: 10px;
}


.search-btn {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #fffefa;
  background: none;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.box:hover .search-btn {
  opacity: 0;
  z-index: -1;
}

/* end search */

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-link {
  color: var(--white);
  padding: 8px;
  border: 1px solid hsl(0, 0%, 100%, 0.3);
  border-radius: 50%;
  font-size: 15px;
}

.social-link:hover { background: hsl(0, 0%, 100%, 0.2); }

.header .btn { padding: 4px 20px; }

/*-----------------------------------*\
 * #MAVBAR
\*-----------------------------------*/
.header .navbar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: var(--white);
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in;
  z-index: 3;
  padding: 9px 12px;
  font-size: 10rem;
  line-height: 1.6;
}



.navbar.active {
  right: 0;
  visibility: visible;
  pointer-events: all;
  transition: 0.25s ease-out;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
}

.navbar-top .logo img { width: 150px; }

.nav-close-btn {
  font-size: 30px;
  color: var(--green);
  transition: 0.15s ease-in;
}


.navbar-list { border-top: 1px solid hsla(0, 0%, 0%, 0.1); }

.navbar-list li { border-bottom: 1px solid hsla(0, 0%, 0%, 0.1); }

.navbar-link {
  color: hsl(0, 0%, 20%);
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}

.navbar-link:hover { color: var(--green); }



/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
  background-image: url("../images/hero-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
  min-height: 600px;
  text-align: center;
  padding-top: 125px;
}

.hero-title { margin-bottom: 20px; }

.hero-text {
  color: var(--white);
  font-size: 14px;
  margin-bottom: 40px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


















































/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer-top {
  background: hsl(206, 34%, 20%);
  padding-block: 60px;
  color: hsl(0, 0%, 88%);
}

.footer-brand { margin-bottom: 30px; }

.footer-brand .logo { margin-bottom: 20px; }

.footer-text {
  font-size: 14px;
  line-height: 1.7;
  text-align: justify;
  animation: fadeIn 3s ease-in-out;
}

.footer-contact { 
  margin-bottom: 30px; 
  padding-top: 10px;
}

.contact-title {
  position: relative;
  font-family: sans-serif;
  font-weight: 500;
  margin-bottom: 50px;
}


.contact-text {
  font-size: 14px;
  margin-bottom: 15px;
  max-width: 200px;
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-link {
  font-style: normal;
  color: hsl(0, 0%, 88%);
  font-size: 14px;
}

.form-text {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

.footer-form .input-field {
  background: var(--white);
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.footer-form .btn { width: 100%; }

.footer-bottom {
  background: hsl(206, 34%, 18%);
  padding-block: 20px;
  text-align: center;
}

.copyright {
  color: hsl(0, 0%, 88%);
  font-size: 14px;
  margin-bottom: 10px;
}

.copyright a {
  color: inherit;
  display: inline-block;
}

.copyright a { color: var(--white); }





/*-----------------------------------*\
 * #MEDIA RESPONSIF
\*-----------------------------------*/

/**
 * responsive for larger than 580px screen
 */

@media (min-width: 580px) {

  /**
   * REUSED STYLE
   */


  .container {
    max-width: 580px;
    margin-inline: auto;
  }

  .btn {
    font-size: 16px;
    padding: 12px 20px;
  }

  .section-subtitle, .section-title, .section-text {
    text-align: center;
  }

  .section-text { margin-bottom: 40px; }

  .card-text { font-size: 15px; }



/* HEADER RESPONSIVE */

  .header { padding-top: 83px; }



  .nav-open-btn { font-size: 40px; }

  .header .btn {
    font-size: 14px;
    padding: 6px 20px;
  }

/* HERO RESPONSIVE */
  .hero {
    min-height: 800px;
    padding-top: 85px;
  }

  .hero-text { font-size: 15px; }

  .btn-group { gap: 20px; }



 /* TOUR SEARCH */

   .tour-search-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 15px;
  }
  .tour-search-form .input-wrapper { margin-bottom: 0; }
  .tour-search-form .input-field { padding: 16px 20px; }
  .tour-search .btn {
    grid-column: span 2;
    margin-top: 20px;
  }



  

  


/* FOOTER RESPONSIF */

  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }


  .footer-bottom { text-align: left; }

  .copyright { margin-bottom: 0; }

  /* alet harga */
  #dialogbox {
    width: 80%;
  }

}


/*-----------------------------------*\
 * #/* responsive for larger jika 768px screen
\*-----------------------------------*/


@media (min-width: 768px) {





  

  .container { max-width: 800px; }

  .section-text {
    max-width: 60ch;
    margin-inline: auto;
  }



  /* HEADER*/


  .social-list { gap: 10px;  padding-left: 90px;}







  /*PACKAGE*/

  .package-list { margin-bottom: 50px; }

  .package-list > li:not(:last-child) { margin-bottom: 40px; }

  .package-card {
    display: grid;
    grid-template-columns: 1.3fr 1.5fr 1fr;
  }

  .package-card .card-banner { height: 100%; }

  .package-card .card-content { padding: 40px; }

  .package-card .card-price {
    display: grid;
    place-content: center;
  }

  .package-card .card-price .wrapper { margin-bottom: 15px; }



  /*GALLERY*/

  .gallery { padding-bottom: calc(var(60px * 2)); }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-image { border-radius: 25px; }

  /*FOOTER*/

  .form-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .footer-form .input-field { margin-bottom: 0; }

  .footer-form .btn { width: max-content; }

  /* alert harga */
  #dialogbox {
    width: 80%;
  }
}




/*-----------------------------------*\
 * #responsive for larger than 992px screen
\*-----------------------------------*/



@media (min-width: 992px) {

  

  .container { max-width: 1050px; }

  /* HEADER*/

  .header.active .header-top {
    position: unset;
    background: unset;
  }


  .nav-open-btn,
  .navbar-top { display: none; }

  .header-bottom { border-bottom: none; }

  .header.active .header-bottom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    color: hsl(0, 0%, 25%);
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.08);
  }

  .header-bottom .container { padding-block: 0; }

  .header .navbar { all: unset; }

  .navbar-list {
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-list li { border-bottom: none; }

  .navbar-link {
    color: var(--white);
    font-size: 15px;
    font-weight: unset;
    text-transform: uppercase;
    padding: 20px 15px;
  }

  .header.active .navbar-link { color: hsl(0, 0%, 25%); }

  .header.active .navbar-link:is(:hover, :focus) { color: var(--green); }

  .header.active .social-link {
    color: hsl(0, 0%, 25%);
    border-color: hsla(0, 0%, 0%, 0.15);
  }




  /*HERO*/

  .hero .container { max-width: 740px; }



  /*TOUR SEARCH*/

  .tour-search-form {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Membuat 5 kolom dengan lebar yang sama */
  }
  

  .tour-search .btn {
    padding: 15px;
    grid-column: unset;
    margin-top: 0;
  }






  /*PACKAGE*/

  .meta-box { font-size: 13px; }



  /*FOOTER*/

  .footer-top .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  .footer-form { grid-column: unset; }

  .form-wrapper { flex-direction: column; }

  .footer-form .btn { width: 100%; }

}





/*-----------------------------------*\
 * #responsive for larger than 1200px screen
\*-----------------------------------*/

@media (min-width: 1200px) {

  

  .container { max-width: 1180px; }

}

/*-----------------------------------*\
 * #580 MAX
\*-----------------------------------*/
@media (max-width: 580px) {
  .container p, h3{
    text-align: center;
    max-width: 100%;
    max-width: 100%;
  }

  .hero .container h2{
    text-align: center;
    font-size: 3rem;
  }
  .social-list{
    padding-top: 30px;
  }

  .btn{
    margin-top: 30px
  }

  /* alert harga */
  #dialogbox {
    width: 80%;
  }

  .input-label{
    padding-top: 10px;
  }

  .contact-text{
    font-size: 14px;
    margin-bottom: 15px;
    max-width: 130px;
  }

  .header-top .container{
    display: grid;
    grid-template-columns: 0fr 0fr 1fr; /*colom logo ikeon dan input search */
    justify-items: left;
    align-items: center;
  }
}




/*-----------------------------------*\
 * #RUMUS CUSTOM
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --greenlight: rgb(161, 221, 112);
  --green: rgb(65, 176, 110);
  --pinggiran: hsl(107, 100%, 51%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);



}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,img,span,input,label,button,ion-icon { display: block; }

input,button {
  background: none;
  border: none;
  font: inherit;
}

input { width: 100%; }

ion-icon { pointer-events: none; }

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body{
  background: rgb(255, 250, 230);
}

/*-----------------------------------*\
 * #CUSTOM
\*-----------------------------------*/

.container { padding-inline: 15px; }

.btn {
  color: var(--white);
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 100px;
  padding: 8px 18px;
  border: 2px solid transparent
}

.btn-primary {
  background: var(--green);
  border-color: var(--green);
}

.btn-primary:hover {
  background: var(--pinggiran);
  border-color: var(--pinggiran);
}

.btn-secondary { border-color: var(--white); }

.btn-secondary:hover { background: var(--greenlight); }


.btn-primary:hover {
  background: var(--green);
}

.h1,
.h2,
.h3 {
  font-weight: 800;
  font-family: sans-serif;
  text-transform: uppercase;
}

.h1 {
  color: var(--white);
  font-size: 6rem;
}

.h2,
.h3 { color: hsl(206, 34%, 20%); }

.h2 { font-size: 3rem; }

.h3 {
  font-size: 1.7rem;
  font-weight: 700;
}

body{
  background-color: rgb(255, 255, 255);
}